@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--violet: hsl(257, 40%, 49%);
	--soft-magenta: hsl(300, 69%, 71%);
	--f-p: "Open Sans", sans-serif;
	--f-s: "Poppins", sans-serif;

	--padding: 1em 2em;
}

img {
	max-width: 100%;
	max-height: 100%;
}

body {
	background-image: url(./images/bg-mobile.svg);
	background-color: var(--violet);
	background-size: contain;
	background-repeat: no-repeat;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.cards {
	display: flex;
	flex-direction: column;
	max-width: 35em;
	flex-grow: 1;
	padding: var(--padding);
}

/* PREVIEW */

#preview {
	flex-basis: 55%;
}

#logo {
	width: 8em;
	margin: 1em 0 3em 0;
}

/* MAIN */

main {
	flex-basis: max(45%, 30ch);
	color: white;
	text-align: center;

	align-items: center;
	gap: 1em;
}

main h1 {
	font-family: var(--f-s);
	font-size: 1.4em;
}

main p {
	font-family: var(--f-p);
	font-size: 0.9em;
	line-height: 1.5em;
}

main button {
	background-color: white;
	color: var(--violet);
	border: none;
	font-size: 0.7em;
	padding: 1em 6em;
	border-radius: 2em;
	font-family: var(--f-p);
	box-shadow: 0 0.25em 0.5em 0 rgb(0, 0, 0, 0.25);
	cursor: pointer;
	justify-items: center;
}

main > button:hover {
	background-color: var(--soft-magenta);
}

/* FOOTER */

footer {
	justify-self: flex-end;
	font-size: 0.5em;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1em;
	margin-top: 5em;
}

.socials {
	border-radius: 50%;
	padding: 5px;
	outline: 1px solid white;
	background-color: transparent;
	cursor: pointer;
}

.socials > div {
	background-color: white;
	width: 2em;
	height: 2em;
	mask-repeat: no-repeat;
	-webkit-mask-repeat: no-repeat;
	mask-position: center;
	-webkit-mask-position: center;
}

.socials:nth-of-type(1) div {
	mask-image: url(./images/facebook-f-brands.svg);
	-webkit-mask-image: url(./images/facebook-f-brands.svg);
}
.socials:nth-of-type(2) div {
	mask-image: url(./images/twitter-brands.svg);
	-webkit-mask-image: url(./images/twitter-brands.svg);
}
.socials:nth-of-type(3) div {
	mask-image: url(./images/instagram-brands.svg);
	-webkit-mask-image: url(./images/instagram-brands.svg);
}

.socials:hover {
	outline-color: var(--soft-magenta);
}

.socials:hover div {
	background-color: var(--soft-magenta);
}

#attribution {
	flex-basis: 100%;
}
#attribution a {
	color: var(--soft-magenta);
}

@media screen and (min-width: 535px) {
	/* :root {
		--padding: 0;
	}
	body {
		background-image: url(images/bg-desktop.svg);
		background-size: cover;
		align-content: center;
		min-height: 100vh;
		gap: 3em;
	}

	#logo {
		width: 12em;
		margin-bottom: 4em;
	}

	main {
		align-items: flex-start;
		justify-content: center;
		text-align: start;
		position: relative;
	}

	main h1 {
		font-size: 2.5em;
	}

	main button {
		font-size: 1em;
		padding: 1em 4em;
	}

	footer {
		position: absolute;
		bottom: 0;
		text-align: center;
		align-self: flex-end;
	} */
}
